@import '@constants/style/var';
@import '@constants/style/mixins';

.form {
    width: 368px;
    height: 380px;

    .ant-radio-button-wrapper {
        width: 50%;
    }

    .ant-form-item-control-input-content {
        display: flex;
        justify-content: space-between;
    }

    label.ant-radio-button-wrapper {
        border: none;
        border-bottom: 0.2px solid rgb(241, 235, 235);
    }

    .ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
        border: none;
        border-bottom: 2px solid $character-dark-link;
    }

    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before  {
        background-color: white;
    }

    .ant-form-item-explain-error, .ant-form-item-explain-success {
        text-align: start;
        font-size: 13px;
    }

    .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input, .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover {
        border-left: 1px solid #d9d9d9;
    }

    .ant-input-group-wrapper-status-error .ant-input-group-addon {
        color: $character-light-title-85;
    }
}
