.main-content {
    max-width: 752px;
    padding: 24px;

    .main-text {
        width: 752px;
        margin: 24px 0 16px 0;
    }
}

.cards-btn {
    .ant-card-head {
        height: 45px;
    }

    .ant-card-body {
        height: 56px;
        padding: 12px;
    }
}
