@import '@constants/style/var';
@import '@constants/style/mixins';

.header {
    background: #f0f5ff;
    width: 100%;
    padding: 14px 24px;
    max-width: 100%;
    text-align: left;

    .header-text {
        color: $character-light-title-85;
        @include text-sider-menu;
    }

    .header-content {
        margin-top: 8px;
        display: flex;
        justify-content: space-between;
        height: 110px;
        width: 100%;

        h1 {
            max-width: 1000px;
            @include heading-1;
            letter-spacing: .04rem;
            margin: 0;
            padding-top: 4px;
            color: $character-light-title-85;
            font-size: 2.57vw;
        }

        button {
            width: 129px;
        }
    }



}
