.header {
    background: #f0f5ff;
    max-width: 1232px;
    padding: 16px 24px;
    width: 100%;
    text-align: left;

    .header-content {
        display: flex;
        justify-content: space-between;
        height: 110px;
        max-width: 1184px;
    }



}
