#root {
    max-width: 1440px;
    width: 1440px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
}

li {
    list-style-type: none; /* Убираем маркеры */
   }
   ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
   }


.wrapper {
    background: rgb(229, 234, 215);
    border: 1px solid black;
}

.main {
    background: no-repeat center/cover;
    background-image: url('@public/bg-mp-light.jpg');
}

.flex {
    display: flex;
}


